{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <div class="container">
        <h1>Ready to Rango</h1>
    </div>
</div>

<div class="container">
    <div class="col-xs-12 col-sm-6 placeholder">
    <h1>Top Five Categories</h1>
    {% if categories %}
        <ul class="list-group">
        {% for category in categories %}
            <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    </div>

    <h1>Top Five Pages</h1>

    {% if pages %}
        <ul class="list-group">
        {% for page in pages %}
            <li><a href="{{page.url}}">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

</div>


{% endblock %}
